<div class="container">
  <div class="col-lg-12 col-md-6 col-xs-12 padding-zero">
  <table class="table">
      <thead class="border">
          <tr>
              <th>Month</th>
              <th>Reward Points</th>
          </tr>
      </thead>

      <tbody>
        <tr *ngFor="let allrewards of totalRewardsPerMonth">
          <td> {{monthNames[allrewards.month-1]}}
          </td>
          <td> {{allrewards.value}}
          </td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{totalRewardsAllMonths}}</td>
        </tr>
  </table>
  </div>
</div>